nav {
  border: 2px solid black;
  background-color: #FFB4B0;
  padding: .25px;
  }

#entire-container {
  width: 880px;
  margin: center;
  border: center;
  padding: 5px;
}

.left-container {
  float: left;
  margin: left;
  border: 2px solid black;
  background-color: #4DD7FA
  padding: 5px;
}

.left-container-list {
  list-style-type: none;
  text-align: left;
}

.song-name {
  color: #785616
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  background: grey;
  margin: center;
  text-align: center;
  padding: 2px;
  width: 100px;
 }


.right-container {
  float: right;
  margin: center;
  border: 2px solid black;
  background-color: #FEFAC0 
 }

.song-name {
  margin: center;
 }


